body {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #EEE;
  }
  /* header {
      background-color: rgb(187, 187, 187);
      height: 40px;
      padding: 11px;
      border-bottom: 1px solid rgb(64, 85, 32);
  }
  
  header a {
      text-decoration: none;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      float: left;
      align-items: center;
      color: black;
  }
  header nav ul {
      list-style-type: none;
      display: flex;
      float: right;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
  }
   */
  
  header {
    background-color: blanchedalmond;
    height: 10%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    /*  position: sticky;
      top: 0; */
  }
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    text-decoration: none;
    position: relative;
    color: rgb(204, 112, 25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    font-size: 1.1em;
  }
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 15px;
  }
  #logo {
    left: 90px;
    font-size: 1.8em;
    color: red;
  }
  main {
    padding: 22px;
    text-align: center;
  }
  
  aside {
    width: 30%;
    float: left;
  }
  section {
    width: 35%;
    float: left;
  }
  article {
    width: 35%;
    float: left;
  }
  footer {
    background-color: bisque;
    padding: 44px;
    display: block;
    clear: both;
    text-align: center;
  }
  footer .lien {
    height: auto;
    width: auto;
    position: relative;
    top: 11px;
  }
  footer .lien i {
    padding: 13px;
    text-align: center;
  }
  section .comp{
      list-style-type: none;
  }
  main h1{
      color: crimson;
  }