.navigation{
    text-align: center;
}
.navigation a{
    padding: 12px;
    text-decoration: none;
    color: black;
    overflow: hidden;
}
.navigation a.active{
    background-color: greenyellow;
    font-weight: bold;
    border-radius: 5px;
}
.navigation a:hover:not(.active){
    background-color: gray;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

body{
    margin: 0px;
}
 div h1{
    text-align: center;
    color: blueviolet;
 }
 .navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
 }
 .navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    justify-content: space-around;
 }
 .navbar a:hover{
    background-color: red;
    color: black;
 }

.navbar li{
    float: right;
}